/* Font sizing */
@media screen and (min-width: 0px) {html {font-size: 10px;}}
@media screen and (max-width: 768px) {html {font-size: 8px;}}

body {
  background-color: #014A5B;
  font-family: 'Ubuntu', sans-serif;
  margin: 0;

}

h1, h2 {
  font-family: 'Viga', sans-serif;
  color: #E3FE8F;
}

p {
  color: #E3FE8F;
  font-size: 2rem;
}

.btn:hover, .section-btn:hover {
  box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.3);
  animation: btn-zoom 0.5s;
  cursor: pointer;
}


/* Pages */
.page {
  padding: 0 10%;
  position: relative;
  min-height: 60vh;
  margin-bottom: 40px;
}

.page .logo-text {
  margin-top: 40px;
}

.page p {
  font-size: 3rem;
  margin-top: 5px;
}

.page a {
  color: cyan;
}

.page h2 {
  font-size: 3.8rem;
  margin-bottom: 5px;
}

/* Footer */
.footer {
  background-color:rgb(0, 51, 63);
  box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.25);
  text-align: center;
  padding: 0 20px 45px;

}

.footer p {
  margin-top: 0;
  padding-top: 30px;
  font-size: 2rem;
}

.footer .smaller {
  font-size: 1.8rem;
}

.footer img {
  cursor: pointer;
}

.footer .link-container {
  display: flex;
  align-content: space-around;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  margin: auto;
  margin-top: 20px;
}

.footer .link-container a {
  font-size: 1.75rem;
}

.footer a {
  color: #E3FE8F;
}

@media only screen and (max-width: 768px) {
  .footer .link-container {
    width: 80%;
  }
}

/* Main section */
  #main-section {
    margin-left: 10%;
    margin-bottom: 80px;
  }

  .title {
    font-size: 7rem;
    margin-bottom: 10px;
  }

  .explainer-text {
    font-size: 3rem;
    margin-top: 10px;
    width: 75%;
  }

  @media only screen and (min-width: 1900px) {
    #main-section {
      margin-left: 250px;
    }
  }

  @media only screen and (max-width: 768px) {
    .title {
      margin-top: 20px;
    }
  }

/* feature box */
  #featured-dev-box {
    width: 80%;
    max-width: 1500px;
    border: 2px #E3FE8F solid;
    padding: 15px;
    position: relative;
  }
  
  #feature-title {
    font-size: 4.8rem;
    margin: 5px 0 0 0;
  }
  
  .hashtag {
    color: #FFD420;
  }
  
  .tag {
    color: cyan;
  }
  
  #feature-flex {
    display: flex;
    align-items: stretch;
  }
  
  #profile-picture {
    border-radius: 50%;
    border: 2px #E3FE8F solid;
    flex: 1;
    object-fit:cover;
    width: 30%;
    height: 30%;
  }
  
  #feature-name-bio {
    flex: 3;
    padding-left: 15px;
  }
  
  #feature-name {
    margin-bottom: 10px;
    font-size: 3.2rem;
  }
  
  #feature-bio {
    font-size: 2.75rem;
    margin-top: 10px;
  }
  
  #feature-icon {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 45px;
  }
  
  #feature-title {
    width: 90%;
  }

  /* Feature visit link */
  #feature-visit-text {
    position: absolute;
    right: 70px;
    text-align: right;
    top:-5px;
    text-decoration: none;
    color: #014A5B;
    font-size: 2.2rem;
    font-weight: bolder;
  }
  #feature-link-container {
    background-color: #E3FE8F;
    height: 60px;
    white-space: nowrap;
    position: absolute;
    right: 30px;
    border-radius: 30px;
    overflow: hidden;
    cursor:pointer;
  }
  .hovering {
    box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.25);
   animation: in 0.5s;
   width: 285px;
  }
  .not-hovering {
    width: 60px;
    animation: out 0.25s;
  }
  .start-hover {
    width: 60px;
  }
  @keyframes in {
    0% {width: 60px;}
    100% {width: 285px;}
  }
  @keyframes out {
    0% {width: 285px;}
    100% {width: 60px;}
  }

  @media only screen and (max-width: 768px) {
    #feature-flex {
      display: block;
    }

    #profile-picture {
      display: block;
      margin: auto;
      width: 65%;
      margin-top: 15px;
    }

    #feature-link-container {
      display: none;
    }

  }


/* Sections */
.section {
  padding: 50px 0 50px 100px;
  box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.5);
}
.section h1 {
  font-size: 7.2rem;
  margin: 0;
}

.section h3 {
  font-size: 4.5rem;
  margin: 20px 0;
  font-weight: 300;
}

.section .icon-container {
  position: relative;
}

.section .icon {
  width: 80px;
  position: absolute;
  right: 30px;
  top: -15px;
}

.section-btn {
  font-size: 3.5rem;
  font-family: 'Viga', sans-serif;
  margin-top: 20px;
  text-decoration: none;
  border: none;
  border-radius: 20px;
  padding: 5px 15px;
}

.connectform .input {
  border-radius: 30px;
  width: 355px;
  height: 6rem;
  font-size: 3.5rem;
  font-family: 'Ubuntu', sans-serif;
  padding: 1px;
  padding-left: 15px;
}

.connectform .error-msg {
  animation-name: fade;
  animation-duration: 1s;
}

@media only screen and (max-width: 768px) {
  .section {
    padding: 25px 5%;
  }

  .section .icon {
    display: none;
  }

  .section h1 {
    text-align: center;
  }

  .connectform-twitter .input-container {
    width: 85%;
  }

  .connectform-twitter .input {
    width: calc(100% - 70px) !important;    
  }
  
  .connectform-github .input {
    width: 75%;
    
  }

  .connectform form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .connectform .checkbox-container {
    text-align: left;
    margin: 0;
    margin-top: 10px;
  }

  .connectform .checkbox-container p {
    margin-top: 5px;
  }

  .error-msg {
    margin-top: 10px;
  }
}

/* Twitter section */
.twitter-section {
    background-color: white;
  }

  .twitter-section h1, .twitter-section h3, .connectform-twitter .error-msg {
    color: #1DA1F2;
  }

  .connectform-twitter .input {
    border: 4px #1DA1F2 solid;
    color: #1DA1F2;
    padding-left: 7rem;
    width: 300px;
  }

  .connectform-twitter .section-btn {
    background-color: #1DA1F2;
    color: white;
  }
  
  .at-symbol {
    position: absolute;
    height: calc(6rem + 2px);
    width: 6rem;
    background-color: #1DA1F2;
    border-radius: 30px 0 0 30px;
    border: 4px #1DA1F2 solid;
  }

  .at-symbol p {
    margin: 0;
    color: white;  
    font-size: 5rem;
    padding-left: 8px;
    position: relative;
    top: -2px;
  }
/* Github section */
  .github-section {
    background-color: #323131;
  }

  .github-section h1, h3, .connectform-github .error-msg {
    color: white;
  }

  .connectform-github .section-btn {
    background-color: white;
  }

.connectform-github .input {
  border: black 3px solid;
}

/* Connected screen */
.connected {
  margin-left: -100px;
}

.connected .screen { 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.connected .btn, .connected .explainer {
  opacity: 0.0;
  animation-name: fade;
  animation-duration: 2s;
  animation-delay: 0.25s;
  animation-fill-mode: forwards;
}

.connected .text, .connected .with {
  text-align: center;
  margin: 10px;
}

.connected .text {
  animation-name: zoomSmall;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.connected .with {
  animation-name: zoomBig;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes zoomSmall {
  0% {font-size: 4.5rem; opacity: 0.3;}
  100% {font-size: 5.5rem; opacity: 1;}
}

@keyframes zoomBig {
  0% {font-size: 5.5rem; opacity: 0.3;}
  100% {font-size: 6.5rem; opacity: 1;}
}

@keyframes fade {
  0% {opacity: 0.0;}
  100% {opacity: 1.0;}
}

/* Twitter connected screen */
.twitter-connected .text,
.twitter-connected .with,
.twitter-connected .explainer {
  color: #1DA1F2;
}

.twitter-connected .btn {
  background-color: #1DA1F2;
  color: white;
}

/* Github connected screen */
.github-connected .text,
.github-connected .with,
.github-connected .explainer {
  color: white;
}

.github-connected .btn {
  background-color: white;
}

@media only screen and (max-width: 768px) {
  .connected {
    margin-left: 0;
  }

  .connected .screen {
    text-align: center;
  }
}

/* Header */
.header .menu-icon {
  display: none;
}

.header nav {
  padding: 20px 0;
  box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.25);
  background-color: rgb(0, 51, 63);
}

.header ul {
  margin: 0;
  display: flex;
  align-content: space-around;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  text-align: center;
  list-style-type: none;
}

.header .item {
  margin: 0 10px;
  padding: 15px;
  font-size: 3.2rem;
  color: #E3FE8F;
  border: 2px solid #E3FE8F;
  border-radius: 20px;
  font-weight: bolder;
}

.header .item:hover {
  box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.5);
  cursor: pointer;
}

.header .logo {
  width: 35rem;
  margin: 0;
}

.header .page-on {
  background-color: rgb(0, 43, 53);
}

@media only screen and (min-width: 2000px) {
  .header ul {
    width: calc(1750px + 4%);
  }
}

@media only screen and (max-width: 1350px) {
  .header ul {
    width: 95%;
  }
}

@media only screen and (max-width: 1000px) {
  .header .item {
    font-size: 2rem;
  }

  .header .logo {
    width: 25rem;
  }
}

@media only screen and (max-width: 768px) {
  .header .menu-icon {
    display: block;
    position: absolute;
    right: 10px;
    top: 1%;
    width: 15%;
  }

  .header ul {
    display: block;
    text-align: center;
    width: 100%;
    padding: 0;
  }
  
  .header .item {
    width: 50%;
    margin: 20px auto;
    display: none;
    font-size: 3.2rem;
  }

  .header .show-menu .item {
    display: block;
  }
  .header nav {
    padding-top: 5px;
    padding-bottom: 10px;
  }

  .header .logo {
    width: calc(85% - 50px);
    margin: 10px 10% 10px -7.5%;
  }
}

/* Checkbox  https://www.w3schools.com/howto/howto_css_custom_checkbox.asp*/
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 2.2rem;
  user-select: none;
}
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}
.checkbox-container input:checked ~ .checkmark {
  background-color: #2196F3;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#checkbox-text {
  color: #1DA1F2;
  font-size: 1.6rem;
}
#checkbox-text span {
  vertical-align: middle;
}
