body {
  background-color: #014A5B;
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
}

h1, h2 {
  font-family: 'Viga', sans-serif;
  color: #E3FE8F;
}

p {
  color: #E3FE8F;
  font-size: 20px;
}

/* Main section */
  #main-section {
    margin-left: 10%;
    margin-bottom: 80px;
  }

  #logo-text {
    font-size: 96px;
    margin-bottom: 10px;
  }

  #explainer-text {
    font-size: 36px;
    margin-top: 10px;
    width: 75%;
  }


/* feature box */
  #featured-dev-box {
    width: 80%;
    border: 2px #E3FE8F solid;
    padding: 15px;
  }

  #feature-title {
    font-size: 48px;
    margin: 5px 0 0 0;
  }

  
  .hashtag {
    color: #FFD420;
  }
  
  #feature-flex {
    display: flex;
    align-items: stretch;
  }
  
  #profile-picture {
    border-radius: 50%;
    border: 2px #E3FE8F solid;
    flex: 1;
  }

  #feature-name-bio {
    flex: 3;
    padding-left: 15px;
  }

  #feature-name {
    font-size: 32px;
  }

/* Sections */
.section {
  padding: 50px 0 50px 100px;
}

.section-btn {
  font-size: 45px;
  font-family: 'Viga', sans-serif;
  margin-top: 20px;
  text-decoration: none;
  border: none;
  border-radius: 20px;
  padding: 5px 15px;
}

.section h1 {
  font-size: 72px;
  margin: 0;
}

.section h3 {
  font-size: 45px;
  margin: 20px 0;
  font-weight: 300;
}

.section-input {
  border-radius: 30px;
  width: 355px;
  height: 70px;
  font-size: 40px;
  font-family: 'Ubuntu', sans-serif;
  padding-left: 15px;
}

.section-icon-container {
  position: relative;
}

.section-icon {
  width: 80px;
  position: absolute;
  right: 30px;
  top: -15px;
}

/* Twitter section */
  #twitter-section {
    background-color: white;
  }

  #twitter-section h1, #twitter-section h3 {
    color: #1DA1F2;
  }

  #twitter-handle-input {
    border: 4px #1DA1F2 solid;
    color: #1DA1F2;
    padding-left: 70px;
    width: 300px;
  }

  #at-symbol {
    position: absolute;
    height: 70px;
    width: 60px;
    background-color: #1DA1F2;
    border-radius: 30px 0 0 30px;
    border: 4px #1DA1F2 solid;

  }

  #at-symbol p {
    margin: 0;
    color: white;  
    font-size: 55px;
    padding-left: 5px;
  }

  #twitter-btn {
    background-color: #1DA1F2;
    color: white;
  }

  #twitter-icon {
    fill: #1DA1F2 !important;
  }

/* Github section */
#github-section {
  background-color: #323131;
}

#github-section h1, h3 {
  color: white;
}

#github-username-input {
  border: black 3px solid;
}
